.StatisticsPage {
    height: 100%;
    background: url("../../assets/images/RegisterBckgrnd-Mobile.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}