@media (max-width: 767px) {
    .ModalBackdrop {
        position: fixed;
        top: 85px;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        z-index: 2;
        background: url("../../assets/images/RegisterBckgrnd-Mobile.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

    }

    .ModalArea {
        padding: 40px 20px;
    }
}